<h1>Add New Article</h1>

<form method="POST" action="/articles">

  <label for="name">Article title:</label>
  <input type="text" name="title"><br>

  <label for="url">Article url:</label>
  <input type="text" name="url"><br>

  <label for="description">Article Description:</label>
  <input type="text" name="description"><br>



  <button type="submit">Add Article</button>
</form>

<a class="back" href="/">Back to All Articles</a>
