<h1><%=@article.title%></h1>
<h3><%=@article.url%></h3>
<h3><%=@article.description%></h3>


<%# <img src= "<%=@article.image%>" > %>


<a class="back" href="/">Back to All Articles</a>
<br/>

<a class="back" href="/articles/new">Add a New Article</a>
